.white{
    background: #FFF;
}
.news{
    padding: 0 30px;
}
.news .title{
    font-size: 24px;
    font-weight: normal;
    padding: 30px 0 0 0;
    color: #333;
}
.news .info{
    margin: 20px 0 10px 0;
}

ul.blog-info-description {
    list-style-type: none;
}
ul.blog-info-description li{
    display: inline-block;
    font-size: 13px;
    padding: 0 0 0 20px;
    color: #748594;
    line-height: 1.5;
}
div.blog-content{
    line-height: 1.8;
    font-size: 1.5rem;
    text-align: justify;
}
div.blog-more {
    margin-top: 3rem;
    padding-bottom: 2rem;
}
div.comment {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply {
    margin-left: 2em;
}
div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}
p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}

div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}