@charset "gb2312";
/* css */
* { margin: 0; padding: 0; }
body {
    font-family: "Microsoft YaHei";
    color: #555;
    background-color: #f1f2f3;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
img {
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    vertical-align: middle;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #555;
}
a:hover{
    text-decoration: none;
    color:#337ab7;
}
.clear {
    clear: both;
}
/* header */
nav.header{
    border-color: #c5c5c5;
    background-color: #FFF;
    font-size:15px;
}

div.user-bar {
    height: 3em;
    line-height: 3em;
}
span.btn-search {
    vertical-align: middle;
    color: #099;
    cursor: pointer;
    font-size: 110%!important;
}
.btn-login{
    margin: 0 .5em;
    color: #099;
}
button.qb_reg {
    background-color: #10a5a5;
    color: #fff;
    width: 60px;
    padding: 6px 12px!important;
    cursor: pointer;
    color: #fff;
    border: 0;
}
.paginator{
    text-align: center;
}
.hot-blogs{
    overflow: hidden;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
}
.form_lg_rg{
    padding: 2rem;
}
.head{
    position: relative;
    width: 30%;
    display: inline-block;
}
.info{
    width: 70%;
}
.head-avatar {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 80px;
    height: 80px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: #d9d9d9 1px solid;
    font-size: 0;
    cursor: pointer;
}
/* 随机背景图 */
#masthead {
    position: relative;
    display: table;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background-color: #1e1e1f;
    width: -webkit-calc(100% - -0.0625rem);
    width: calc(100% - -0.0625rem);
    -webkit-transition: 1s ease background-color;
    -moz-transition: 1s ease background-color;
    -ms-transition: 1s ease background-color;
    -o-transition: 1s ease background-color;
    transition: 1s ease background-color;
}
#masthead::after {
    content: '';
    width: 150%;
    height: 4.375rem;
    background: #f1f2f3;
    left: -25%;
    bottom: -1.875rem;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
}
.inner {
    background-color: rgba(0, 0, 0, 0.25);
}
.inner {
    display: table-cell;
    vertical-align: top;
    position: relative;
    z-index: 10;
    width: 100%;
    left: -1px;
}
.inner::after {
    content: '';
    width: 150%;
    height: 4.375rem;
    background-color: #f1f2f3;
    left: -25%;
    bottom: -1.875rem;
    border-radius: 100%;
    position: absolute;
}

.t_nav{
    border-bottom: #bfbfbf 1px solid;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.n1 {
    background: #000;
}
.n2 {
    background: #3a6ab5;
}
.n1, .n2 {
    width: 100px;
    display: block;
    text-align: center;
    float: left;
    color: #fff;
}
.n1:hover, .n2:hover {
    color: #ffffff;
}
article{
    padding: 2rem 0 1.25rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background: 0;
}
.post-card{
    border-radius: .3125rem;
    overflow: hidden;
    background: #fff no-repeat center;
    background-size: cover;
    position: relative;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.post-card {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 .0625rem .0625rem rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 .0625rem .0625rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 .0625rem .0625rem rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.blog-background {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: 1s ease opacity;
    -moz-transition: 1s ease opacity;
    -ms-transition: 1s ease opacity;
    -o-transition: 1s ease opacity;
    transition: 1s ease opacity;
}
.lazyload-container {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    -webkit-filter: blur(35px);
    -moz-filter: blur(35px);
    -o-filter: blur(35px);
    filter: blur(35px);
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=35, MakeShadow=false);
    -webkit-transition: 1s ease opacity;
    -moz-transition: 1s ease opacity;
    -ms-transition: 1s ease opacity;
    -o-transition: 1s ease opacity;
    transition: 1s ease opacity;
}
.post-card-mask{
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 18.5rem;
}
.post-card-container{
    padding: 2rem 2rem;
    text-align: center;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.post-card-title{
    font-size: 2.5625rem;
    color: #fff;
    margin-bottom: 1rem;
}
.post-card-info{
    color: #eee;
    font-size: .875rem;
    text-align: center;
    font-weight: 400;
}
.post-card:hover, .post-card:focus {
    -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-4px) scale(1.05);
    -moz-transform: translateY(-4px) scale(1.05);
    -ms-transform: translateY(-4px) scale(1.05);
    -o-transform: translateY(-4px) scale(1.05);
    transform: translateY(-4px) scale(1.05)
}



/*blogsbox*/
.blogs {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; 
}
.blogs .blogpic {
    float: left;
    width: 30%;
    max-height: 300px;
    margin-right: 20px;
    display: block;
    overflow: hidden;
}
.blogs .blogpic img { width: 100%; height: auto; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; margin-bottom: 10px }
.blogs .blogpic :hover img {
    transform: scale(1.1);
}
.blogs .blogtitle {
    margin: 0 0 10px 0;
    font-size: 20px;
}
.blogs .blogtitle a:hover {
    color: #337ab7;
}
.blogs .blogtext {
    font-size: 14px;
    color: #566573;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.blogs .blogtext a{
    color: #555;
}
.bloginfo {
    overflow: hidden;
    margin-top: 20px
}
.bloginfo ul li {
    float: left;
    font-size: 12px;
    margin: 0 25px 0 0;
    color: #748594;
    line-height: 1.5;
    display: inline-block;
}
.bloginfo ul li a { color: #748594; }
.bloginfo ul li a:hover { color: #000 }


/*sidebar*/
div.panel {
	overflow: hidden;
}
div.panel-body{
	padding:0px;
}
/* notice */
div.day_div {
    display: block;
    padding: 0 15px 5px 15px;
}
div.overView {
    margin-top: 15px;
    margin-bottom: 0;
    color: #999;
    line-height: 25px;
}
p.js_time {
    margin: 20px 0 5px 0;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}
/* hot article */
.rank {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #999;
    background: #eee;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 2px;
}
.rank1, .rank2, .rank3 {
    color: #fff;
    background-color: #f96c6c;
}
ul.list-group{
	margin-bottom: 0px;
}

/* tags */
.cloud { clear: both; overflow: hidden; background: #fff; margin-bottom: 20px }
.cloud ul { overflow: hidden; font-size: 14px }
.cloud ul.tag{padding: 15px;}
.cloud ul a {  display: block; background: #999; float: left; padding: 3px 11px; margin: 10px 10px 0 0; border-radius: 8px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; color: #FFF }
.cloud ul a:nth-child(8n-7) { background: #8A9B0F }
.cloud ul a:nth-child(8n-6) { background: #EB6841 }
.cloud ul a:nth-child(8n-5) { background: #3FB8AF }
.cloud ul a:nth-child(8n-4) { background: #FE4365 }
.cloud ul a:nth-child(8n-3) { background: #FC9D9A }
.cloud ul a:nth-child(8n-2) { background: #EDC951 }
.cloud ul a:nth-child(8n-1) { background: #C8C8A9 }
.cloud ul a:nth-child(8n) { background: #83AF9B }
.cloud ul a:first-child { background: #036564 }
.cloud ul a:last-child { background: #3299BB }
.cloud ul a:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
/* link */
.shiplink {
    padding-top: 1px;
}
.list-unstyled {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    list-style: none;
}
.shiplink li {
    position: relative;
    float: left;
    margin-right: 10px;
    border-bottom: 0;
    padding: 5px;
}
.shiplink li a {
    font-size: 14px;
}

/* user */
div.containter{
    margin-top: 80px;
}

.form_content{
    margin: 80px auto 50px auto !important;
}


/* footer begin*/
.footer{
    background-color: #e0e0e0;
    text-align:center;
    margin-top: 10px;
}
.page-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
p.copyright{
    padding-top: 1em;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.8) url(../images/top.png) no-repeat center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.lg-rg-a{
    text-align: center;
    display: block;
}

#search {
    position: relative;
    font-size: 1.8rem;
    top: .75rem;
}
#search-input{
    padding-right: 2.5rem;
}
.sub_btn{
    background-color: #FFF;
    border: none;
    position: absolute;
    right: .8rem;
    top: .35rem;
    cursor: pointer;
}