@charset "gb2312";
/* css */
* { margin: 0; padding: 0; }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background-color: #f1f2f3; line-height: 1.5;padding-top: 70px; padding-bottom: 70px;  }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none;color: #555;  }
.clear { clear: both; }

/* header begin */
nav.header{border-color: #c5c5c5;background-color: #FFF;}

div.user-bar {height: 3em;line-height: 3em;}	
span.btn-search {vertical-align: middle;color: #099;cursor: pointer;font-size: 110%!important;}
.btn-login{margin: 0 .5em;color: #099;}
button.qb_reg {background-color: #10a5a5;color: #fff;width: 60px;padding: 6px 12px!important;cursor: pointer;color: #fff;border: 0;}
/* header end */

/* footer begin*/
footer{padding-top: 70px;background-color: #e0e0e0;display: block;  font-size: 13px; padding-bottom: 20px;  color: #000;  text-align: center;  line-height: 25px; }
div.footer{text-align: center;}
p.copyright{padding-top: 1em;}
/* footer end*/