/* common css */
.orther_body{margin: 20px auto;}
.t_nav{border-bottom: #bfbfbf 1px solid;font-size: 14px;font-weight: normal;line-height: 40px;width: 100%;overflow: hidden;margin-bottom: 20px;}
.n1 {background: #000;}
.n2 {background: #3a6ab5;}
.n1, .n2 {width: 100px;display: block;text-align: center;float: left;color: #fff;}
.n1:hover, .n2:hover {color: #ffffff;}






/* blog_list.html */
div.paginator {
    text-align: center;
}


/* share.html */
.share { overflow: hidden;padding-top: 10px; padding-bottom: 10px;}
.shareli { position: relative; margin: 0 15px;padding-bottom: 10px; background: #fff;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease; }
.shareli a i { height: 200px; display: block; overflow: hidden; }
.shareli a i img { height: 200px; width: auto; margin: auto; }
.shareli a h2 { height: 38px; font-size: 14px; line-height: 1.4;  padding: 5px 10px; font-weight: normal;}
.shareli a h2 b { height: 38px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; font-weight: normal; }
.shareli a span { display:inline-block; position: absolute; right: 0px; top: 15px; background: rgba(232, 40, 74, .8); color: #FFF; padding: 3px 8px; font-size: 12px; border-radius: 3px; }
.shareli:hover { transform: translateY(-6px); -webkit-transform: translateY(-6px); -moz-transform: translateY(-6px); }
/* time.html */
div.time_body{
	margin-bottom:50px;
}
.pagebg {
    margin-top: 50px;
    padding: 100px 0;
    text-align: center;
    width: 100%;
}
.time {
    background: url(../images/page_time.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}

.timebox {
    position: relative;
    overflow: hidden;
}
.timebox:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #ccc;
    left: 141px;
    margin-left: -10px;
}
#list{
    overflow: hidden;
    clear: both;
}
.timebox li {
    overflow: hidden;
    font-size: 16px;
    margin: 10px 0;
    line-height: 44px;
}
.timebox li span {
    margin-right: 90px;
    display: block;
    float: left;
    height: 44px;
    color: #999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.timebox li a {
    background: #FFF;
    display: block;
    float: left;
    padding: 0 30px;
    position: relative;
    -webkit-box-shadow: 0 5px 10px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 5px 10px 0 rgba(146, 146, 146, .1);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.timebox li a:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color: #fff;
    border-width: 10px;
    top: 10px;
}
.timebox li a:after {
    right: 100%;
    /* border: solid transparent; */
    content: " ";
    height: 5px;
    width: 5px;
    border: 2px solid #cccaca;
    background: #8e9baf;
    position: absolute;
    top: 16px;
    left: -51px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.timebox li:hover a {
    padding-right: 60px;
}
/* comment.html */
.ab {
    background: url(../images/blank.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}
div.comment{
	padding: 15px;
}
.kcbg_body p {
    float: left;
    padding: 15px;
    margin: 0 15px 0 0;
    font-size: 14px;
}
ul.infos {
    overflow: hidden;
    margin-bottom: 10px;
    color: #666;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
}
.rr_center {
    color: red;
    text-align: center;
}