/* common css */

div.comment-area {
    margin-top: 2rem;
}
.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4rem;
    color: #000000;
}
.jubao{
    float: right;
}
.nickname{
    padding: 1rem;
}
.comt-area {
    padding: 5px 5px 5px 10px;
    width: 100%;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 2px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 180%;
    resize: none;
    border-radius: 0 0 4px 4px!important;
    background-size: auto;
    background-image: url(../images/comment_bj.png);
    background-repeat: no-repeat;
    background-position: center;
}






/* blog_list.html */
div.paginator {
    text-align: center;
}


/* share.html */
.share { overflow: hidden;padding-top: 10px; padding-bottom: 10px;}
.shareli { position: relative; margin: 0 15px;padding-bottom: 10px; background: #fff;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease; }
.shareli a i { height: 200px; display: block; overflow: hidden; }
.shareli a i img { height: 200px; width: auto; margin: auto; }
.shareli a h2 { height: 38px; font-size: 14px; line-height: 1.4;  padding: 5px 10px; font-weight: normal;}
.shareli a h2 b { height: 38px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; font-weight: normal; }
.shareli a span { display:inline-block; position: absolute; right: 0px; top: 15px; background: rgba(232, 40, 74, .8); color: #FFF; padding: 3px 8px; font-size: 12px; border-radius: 3px; }
.shareli:hover { transform: translateY(-6px); -webkit-transform: translateY(-6px); -moz-transform: translateY(-6px); }
/* time.html */
div.time_body{
	margin-bottom:50px;
}


.timebox {
    position: relative;
    overflow: hidden;
}
.timebox:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #ccc;
    left: 141px;
    margin-left: -10px;
}
#list{
    overflow: hidden;
    clear: both;
}
.timebox li {
    overflow: hidden;
    font-size: 16px;
    margin: 10px 0;
    line-height: 44px;
}
.timebox li span {
    margin-right: 90px;
    display: block;
    float: left;
    height: 44px;
    color: #999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.timebox li a {
    background: #FFF;
    display: block;
    float: left;
    padding: 0 30px;
    position: relative;
    -webkit-box-shadow: 0 5px 10px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 5px 10px 0 rgba(146, 146, 146, .1);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.timebox li a:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color: #fff;
    border-width: 10px;
    top: 10px;
}
.timebox li a:after {
    right: 100%;
    /* border: solid transparent; */
    content: " ";
    height: 5px;
    width: 5px;
    border: 2px solid #cccaca;
    background: #8e9baf;
    position: absolute;
    top: 16px;
    left: -51px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.timebox li:hover a {
    padding-right: 60px;
}
/* comment.html */
.ab {
    background: url(../images/blank.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}
div.comment{
	padding: 15px;
}
.kcbg_body p {
    float: left;
    padding: 15px;
    margin: 0 15px 0 0;
    font-size: 14px;
}
ul.infos {
    overflow: hidden;
    margin-bottom: 10px;
    color: #666;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
}
.rr_center {
    color: red;
    text-align: center;
}
.sidebar .about {
    background: #FFF url(../images/banner.png) no-repeat top center;
    overflow: hidden;
}
.avatar {
    margin: 40px auto 20px;
    width: 100px;
}
.avatar img {
    width: 100px;
    border-radius: 50%;
}
.abname {
    color: #3f3f3f;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}
.abposition {
    color: #595959;
    text-align: center;
}
.abtext {
    padding: 20px;
    color: #999;
    line-height: 26px;
    text-align: justify;
}