{% extends 'base.html' %}
{% block title %}小涛博客 - 文章列表 {% endblock %}
{% block nav_article_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="orther_body">
        <div class="container">
            <div class="row t_nav">
                <div class="col-md-4">
                    <a href="{% url 'home' %}" class="n1">网站首页</a>
                    <a href="{% url 'blog_list' %}" class="n2">文章列表</a>
                </div>
                <div class="col-md-8">
                    <span class="pull-right">时光飞逝，机会就在我们眼前，学会把握机遇。</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <!-- content start -->
                    <div class="blogsbox">
                        {% for blog in blogs %}
                            <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                                <h3 class="blogtitle">
                                    <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                                </h3>
                                <span class="blogpic"><a href="{% url 'blog_detail' blog.pk %}"
                                                         title="{{ blog.title }}"><img
                                        src="{{ blog.picture }}" alt="{{ blog.title }}"></a></span>
                                <p class="blogtext"><a href="{% url 'blog_detail' blog.pk %}"
                                                         title="{{ blog.title }}">{{ blog.content|striptags|truncatechars:150 }}</a></p>
                                <div class="bloginfo">
                                    <ul>
                                        <li class="author"><a href="/"><i class="fa fa-user-circle"></i>&nbsp;小涛</a>
                                        </li>
                                        <li class="lmname"><a href="{% url 'blogs_with_type' blog.blog_type.pk %}"><i
                                                class="fa fa-bookmark"></i>&nbsp;{{ blog.blog_type }}</a></li>
                                        <li class="timer"><i
                                                class="fa fa-clock-o"></i>&nbsp;{{ blog.created_time|date:"Y-m-d" }}
                                        </li>
                                        <li class="view"><span><i
                                                class="fa fa-eye"></i>&nbsp;{{ blog.get_read_num }}</span>
                                        </li>
                                        <li class="like"><i class="fa fa-heart"></i>&nbsp;{% get_like_count blog %}</li>
                                        <li class="like"><i
                                                class="fa fa-comments"></i>&nbsp;{% get_comment_count blog %}</li>
                                    </ul>
                                </div>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无文章，敬请期待</h3>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- content end -->

                    <!-- paginator start -->
                    <div class="paginator">
                        <ul class="pagination">
                            {# 上一页 #}
                            {% comment %}<li>
                                {% if page_of_blogs.has_previous %}
                                    <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}
                            </li>{% endcomment %}
                            {# 全部页码 #}
                            {% for page_num in page_range %}
                                {% if page_num == page_of_blogs.number %}
                                    <li class="active"><span>{{ page_num }}</span></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {# 下一页 #}
                            {% comment %}<li>
                                {% if page_of_blogs.has_next %}
                                    <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}
                            </li>{% endcomment %}
                        </ul>
                        <p>
                            共有{{ page_of_blogs.paginator.count }}篇博客，
                            当前第{{ page_of_blogs.number }}页，共{{ page_of_blogs.paginator.num_pages }}页
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- notice -->
                    <div class="panel panel-default side-box">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-snowflake-o"></i>&nbsp;赏析</span>
                        </div>
                        <div class="panel-body">
                            <div class="day_div">
                                <div class="overView ">
                                    {% comment %}<img src="{% static 'images/mubiao.jpg' %}" alt="定个小目标" title="定个小目标"/>{% endcomment %}
                                    <p>堆大小 = 新生代 + 老年代。默认下，新生代 ( Young ) = 1/3 的堆空间大小，老年代 ( Old ) = 2/3 的堆空间大小；</p>
                                    <p>新生代 ( Young ) 被细分为 Eden 和 两个 Survivor 区域，这两个 Survivor 区域分别被命名为 from 和 to，以示区分。默认的，Edem : from : to = 8 : 1 : 1</p>
                                    <p style="text-align:center">
                                        <img src="https://sunjs.oss-cn-beijing.aliyuncs.com/daigou/201809/21/1537496300714.png" title="1537496300712028093.png" alt="061921034534396.png">
                                    </p>
                                    <p><br></p>
                                </div>
                                <p class="js_time"></p>
                            </div>
                        </div>
                    </div>
                    <!-- article type -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-cloud"></i>&nbsp;文章分类</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for blog_type in blog_types %}
                                    <li class="list-group-item">
                                        <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                            {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>暂无分类</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- datetime -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-calendar"></i>&nbsp;日期归档</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for blog_date, blog_count in blog_dates.items %}
                                    <li class="list-group-item">
                                        <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                            {{ blog_date|date:"Y年m月" }} ({{ blog_count }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- hot article -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-book"></i>&nbsp;热门文章</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for hot_blog in hot_blogs_for_7_days %}
                                    <li class="list-group-item">
                                        <span class="rank rank{{ forloop.counter }}">{{ forloop.counter }}</span>
                                        <a href="{% url 'blog_detail' hot_blog.id %}" title="{{ hot_blog.title }}">
                                            {{ hot_blog.title|striptags|truncatechars:24 }}
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>暂时没有热门文章</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- hot tag -->
                    <div class="panel panel-default cloud">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-tags"></i>&nbsp;热门标签</span>
                        </div>
                        <div class="panel-body">
                            <ul class="tag">
                                {% for blog_tag in blog_tags %}
                                    <a href="{% url 'blogs_with_tag' blog_tag.pk %}">
                                        {{ blog_tag.tag_name }} ({{ blog_tag.blog_count }})
                                    </a>
                                {% empty %}
                                    <li>暂无标签</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- links -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-link"></i>&nbsp;友情链接</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled shiplink">
                                <li><a href="//xt998.github.io/" titile="github" target="_blank">xt998.github.io</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
