{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="5CPePy4Wzm" />
    <meta name="google-site-verification" content="zkjrc3qqtupICf2tce2uvQTK3ZMrY6BjTNfwRsQqDyo" />
    <meta name="description" content="小涛博客，是一个记录技术心得和资源分享，记录生活点滴，分享兴趣爱好的个人博客。">
    <meta name="keywords" content="小涛博客,个人博客,原创博客,资源下载,IT技术分享">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap3.3.7/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/jqcloud.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% block header_extends %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scrollReveal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqcloud-1.0.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/time.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">小涛博客</a>
                <button class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block nav_home_active %}{% endblock %}">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i>&nbsp;首页</a>
                    </li>
                    <li class="{% block nav_article_active %}{% endblock %}">
                        <a href="{% url 'blog_list' %}"><i class="fa fa-book"></i>&nbsp;文章</a>
                    </li>
                    {% comment %}<li class="{% block nav_tech_active %}{% endblock %}">
                        <a href="{% url 'home' %}"><i class="fa fa-code"></i>&nbsp;技术</a>
                    </li>{% endcomment %}
                    <li class="{% block nav_share_active %}{% endblock %}">
                        <a href="{% url 'share' %}"><i class="fa fa-cloud-download"></i>&nbsp;资源分享</a>
                    </li>
                    <li class="{% block nav_time_active %}{% endblock %}">
                        <a href="{% url 'time' %}"><i class="fa fa-calendar"></i>&nbsp;时间轴</a>
                    </li>
                    <li class="{% block nav_comment_active %}{% endblock %}">
                        <a href="{% url 'comment' %}"><i class="fa fa-comments"></i>&nbsp;留言墙</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'login' %}?from={{ request.get_full_path }}">
                                <i class="fa fa-bell" aria-hidden="true"></i>&nbsp;登录
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}?from={{ request.get_full_path }}">
                                <i class="fa fa-sign-in"></i>&nbsp;注册
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                {% if user.has_nickname %}
                                    {{ user.username }}({{ user.get_nickname }}) 
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'user_info' %}"><i class="fa fa-user"></i>&nbsp;个人资料</a>
                                </li>
                                <li>
                                    <a href="{% url 'change_password' %}">
                                        <i class="fa fa-pencil-square-o"></i>&nbsp;修改密码
                                    </a>
                                </li>
                                {% if user.is_staff or user.is_superuser %}
                                    <li>
                                        <a href="{% url 'admin:index' %}"><i class="fa fa-cog"></i>&nbsp;后台管理</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'logout' %}?from={{ request.get_full_path }}">
                                        <i class="fa fa-sign-out"></i>&nbsp;退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="login_medal_form" action="" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">登录</h4>
                    </div>

                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in login_modal_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        <span id="login_medal_tip" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">登录</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <p class="copyright">
            <a href="http://www.miitbeian.gov.cn/">蜀ICP备18020741号-1</a>
        </p>
        <p class="link">
            <a href="/sitemap.xml" target="_blank"><i class="fa fa-sitemap"></i>&nbsp;网站地图</a>
            <a href="/rss" target="_blank"><i class="fa fa-rss-square"></i>&nbsp;RSS订阅</a>
        </p>
        <p class="beian">Copyright © 2018 tengxt All Rights Reserved.</p>
      </div>
    </footer>
    <a href="javascript:void(0);" class="cd-top cd-fade-out"></a>
    {% block script_extends %}{% endblock %}
    <script type="text/javascript">
        $("#login_medal_form").submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url "login_for_medal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='SUCCESS'){
                        window.location.reload();
                    }else{
                        $('#login_medal_tip').text('用户名或密码不正确');
                    }
                }
            });
        });
    </script>
</body>
</html>