{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block title %}
    小涛博客 - 是一个记录技术心得和资源分享的个人博客
{% endblock %}

{% block header_extends %}

{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="bodyer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <!-- content start -->
                    <div class="blogsbox">
                        {% for blog in get_article_all %}
                            <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                                <h3 class="blogtitle">
                                    <a href="{% url 'blog_detail' blog.pk %}" target="_blank">{{ blog.title }}</a>
                                </h3>
                                <span class="bigpic"><a href="{% url 'blog_detail' blog.pk %}" title="{{ blog.title }}"><img
                                        src="{% static 'images/toppic01.jpg' %}" alt=""></a></span>
                                <p class="blogtext">{{ blog.content|striptags|truncatechars:120 }}</p>
                                <div class="bloginfo">
                                    <ul>
                                        <li class="author"><a href="/"><i class="fa fa-user-circle"></i>&nbsp;小涛</a>
                                        </li>
                                        <li class="lmname"><a href="/"><i
                                                class="fa fa-bookmark"></i>&nbsp;{{ blog.blog_type }}</a></li>
                                        <li class="timer"><i
                                                class="fa fa-clock-o"></i>&nbsp;{{ blog.created_time|date:"Y-m-d" }}
                                        </li>
                                        <li class="view"><span><i
                                                class="fa fa-eye"></i>&nbsp;{{ blog.get_read_num }}</span>人已阅读
                                        </li>
                                        <li class="like"><i class="fa fa-heart"></i>&nbsp;{% get_like_count blog %}</li>
                                        <li class="like"><i
                                                class="fa fa-comments"></i>&nbsp;{% get_comment_count blog %}</li>
                                    </ul>
                                </div>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无文章，敬请期待</h3>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- content end -->
                </div>
                <div class="col-md-3">
                    <!-- notice -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-snowflake-o"></i>&nbsp;赏析</span>
                        </div>
                        <div class="panel-body">
                            <div class="day_div">
                                <div class="overView ">
                                    <img src="{% static 'images/mubiao.jpg' %}" alt="定个小目标" title="定个小目标"/>
                                    {% comment %}<p>堆大小 = 新生代 + 老年代。默认下，新生代 ( Young ) = 1/3 的堆空间大小，老年代 ( Old ) = 2/3 的堆空间大小；</p>
                                    <p>新生代 ( Young ) 被细分为 Eden 和 两个 Survivor 区域，这两个 Survivor 区域分别被命名为 from 和 to，以示区分。默认的，Edem : from : to = 8 : 1 : 1</p>
                                    <p style="text-align:center">
                                        <img src="https://sunjs.oss-cn-beijing.aliyuncs.com/daigou/201809/21/1537496300714.png" title="1537496300712028093.png" alt="061921034534396.png">
                                    </p>{% endcomment %}
                                    <p><br></p>
                                </div>
                                <p class="js_time"></p>
                            </div>
                        </div>
                    </div>
                    <!-- hot article -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-book"></i>&nbsp;热门文章</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for hot_blog in hot_blogs_for_7_days %}
                                    <li class="list-group-item">
                                        <span class="rank rank{{ forloop.counter }}">{{ forloop.counter }}</span>
                                        <a href="{% url 'blog_detail' hot_blog.id %}" title="{{ hot_blog.title }}">
                                            {{ hot_blog.title|striptags|truncatechars:24 }}
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>暂时没有热门文章</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- hot tag -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-tags"></i>&nbsp;热门标签</span>
                        </div>
                        <div class="panel-body">
                            <div id="tag"></div>
                        </div>
                    </div>

                    <!-- links -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="fa fa-link"></i>&nbsp;友情链接</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled shiplink">
                                <li><a href="//xt998.github.io/" titile="github" target="_blank">xt998.github.io</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}