{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block title %}
    小涛博客 - 是一个记录技术心得和资源分享的个人博客
{% endblock %}

{% block header_extends %}{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="orther_body">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <!-- content start -->
                    <div class="blogsbox">
                        {% for blog in get_article_all %}
                            {% comment %}<div class="blogs" data-scroll-reveal="enter bottom over 1s">
                                <h3 class="blogtitle">
                                    <a href="{% url 'blog_detail' blog.pk %}" target="_blank">{{ blog.title }}</a>
                                </h3>
                                <span class="blogpic"><a href="{% url 'blog_detail' blog.pk %}" title="{{ blog.title }}"><img
                                        src="{{ blog.picture }}" alt="{{ blog.title }}"></a></span>
                                <p class="blogtext">{{ blog.content|striptags|truncatechars:200 }}</p>
                                <div class="bloginfo">
                                    <ul>
                                        <li class="author"><a href="/"><i class="fa fa-user-circle"></i>&nbsp;小涛</a>
                                        </li>
                                        <li class="lmname"><a href="/"><i
                                                class="fa fa-bookmark"></i>&nbsp;{{ blog.blog_type }}</a></li>
                                        <li class="timer"><i
                                                class="fa fa-clock-o"></i>&nbsp;{{ blog.created_time|date:"Y-m-d" }}
                                        </li>
                                        <li class="view"><span><i
                                                class="fa fa-eye"></i>&nbsp;{{ blog.get_read_num }}</span>人已阅读
                                        </li>
                                        <li class="like"><i class="fa fa-heart"></i>&nbsp;{% get_like_count blog %}</li>
                                        <li class="like"><i
                                                class="fa fa-comments"></i>&nbsp;{% get_comment_count blog %}</li>
                                    </ul>
                                </div>
                            </div>{% endcomment %}
                         <article>
                            <a href="{% url 'blog_detail' blog.pk %}">
                                <div class="post-card" id="post-card-{{ blog.pk }}">
                                    <div class="blog-background" style="background-image: url({{ blog.picture }})"></div>
                                    <div class="lazyload-container"></div>
                                    <img src="" style="display: none" onload="javascript:loadBanner(this, '{{ blog.picture }}', '', document.querySelector('#post-card-{{ blog.pk }}'), '-1', document.querySelector('#post-card-1952').offsetWidth, document.querySelector('#post-card-{{ blog.pk }}').offsetHeight)">

                                    <div class="post-card-mask">
                                        <div class="post-card-container">
                                            <h2 class="post-card-title" itemprop="headline"><span style="color:red"></span>{{ blog.title }}</h2>
                                            <div class="post-card-info">
                                                                <span itemprop="author" itemscope="">时间：{{ blog.created_time|date:"Y-m-d" }}</span>
                                                <span class="label"><span class="biao">标签：{{ blog.blog_tag }}</span></span>
                                                <span class="label">阅读：{{ blog.get_read_num }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无文章，敬请期待</h3>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- content end -->
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
        {% comment %}(function ($) {
            hljs.initHighlightingOnLoad();
        })(jQuery);{% endcomment %}
        //图片查看
        document.addEventListener('DOMContentLoaded', function () {
            const zooming = new Zooming({
                customSize: '30%'
            });
            zooming.listen('img');
        })
</script>